
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Girassol&family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
:root {
    --main-bg-color: black;
}

.slider {
    margin: auto;
    width: 85vw;
    margin: 12px auto;
    overflow:hidden;

}
.slider img {   
    width: 100vw;
    height: 100vh;
}

.card {
   
    max-width: 92vw;
    margin: 36px auto;
    font-family: 'Ubuntu', sans-serif;
}
.card-items {
    display: flex;   
    overflow:scroll; 
}
.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
}


